@keyframes shake-horizontal {
  0%,
  to {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.cover-frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaeaea;
  width: 1191px;
  height: 960px;
}
.ct1 {
  color: var(--color-crimson);
}
.doctory1 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  display: inline-block;
  width: 138px;
  height: 31px;
  flex-shrink: 0;
  opacity: 1;
  color: inherit;
}
.doctory1.animate {
  animation: 8s ease 0s 1 normal forwards shake-horizontal;
}
.doctory1:hover {
  animation: 7s ease 0s infinite normal none shake-horizontal;
  opacity: 1;
}
.top-container1 {
  flex: 1;
  height: 18px;
}
.home1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 14.47px;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 56px;
  height: 19px;
  flex-shrink: 0;
}
.about1:hover,
.home1:hover {
  animation: 2s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.about1 {
  width: 67px;
  height: 15px;
  flex-shrink: 0;
}
.about1,
.search1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 14.47px;
  font-family: var(--font-roboto);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
}
.search1:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.navigation-menu1 {
  position: absolute;
  top: -0.28px;
  left: -45.65px;
  width: 181px;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 22.43px;
}
.hamburger-menu-icon1 {
  position: relative;
  width: 17.94px;
  height: 17.94px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 81.01%;
  width: 82.78%;
  top: 4.93%;
  right: 8.75%;
  bottom: 14.06%;
  left: 8.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3 {
  height: 6.33%;
  width: 14.61%;
  top: 88.72%;
  right: 42.83%;
  bottom: 4.94%;
  left: 42.56%;
}
.notification-bell-item {
  position: absolute;
  height: 33.33%;
  width: 33.33%;
  top: 5.99%;
  right: 6.43%;
  bottom: 60.68%;
  left: 60.24%;
  border-radius: 50%;
  background-color: var(--color-orange);
  border: 0.7px solid var(--studio-darkmode-allwhite-ffffff);
  box-sizing: border-box;
}
.notification-bell1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 17.94px;
  height: 17.94px;
  overflow: hidden;
  flex-shrink: 0;
}
.account-section1 {
  position: absolute;
  top: 4.72px;
  left: 196.35px;
  width: 39px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8.97px;
}
.account-section1:hover {
  animation: 3s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}
.navigation-right1 {
  position: relative;
  width: 235px;
  height: 41px;
}
.top-header1 {
  align-self: stretch;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  height: 57.56px;
  display: flex;
  flex-direction: row;
  padding: 16.445871353149414px 59.803165435791016px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 7.48px;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: center;
  font-size: 28.47px;
  color: var(--color-cornflowerblue-100);
  font-family: var(--font-roboto);
}
.banner-background1,
.banner-gradient1 {
  position: absolute;
  width: calc(100% - 0.45px);
  top: 0.44px;
  right: 0.45px;
  left: 0;
  height: 793px;
}
.banner-gradient1 {
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
}
.banner-background1 {
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.find-a-doctor,
.what-if-one {
  align-self: stretch;
  position: relative;
  line-height: 50.09px;
  opacity: 0;
}
.find-a-doctor.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.find-a-doctor:hover {
  animation: 1s ease 0s 1 reverse none shadow-inset-center;
  opacity: 1;
}
.what-if-one {
  font-size: 17.94px;
  line-height: 23.92px;
  font-family: var(--font-roboto);
  text-align: center;
  opacity: 1;
}
.what-if-one.animate {
  animation: 3s ease 0s 1 normal forwards pulsate;
}
.what-if-one:hover {
  text-align: center;
  animation: 4s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.input-group,
.title {
  flex-direction: column;
}
.title {
  position: absolute;
  top: 163px;
  left: 105px;
  width: 867.15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 44px;
}
.input-group {
  flex: 1;
  padding: 3.7376978397369385px;
  justify-content: center;
  gap: 7.48px;
}
.date,
.input-group,
.label-container {
  display: flex;
  align-items: center;
}
.date {
  position: relative;
  font-size: 8.97px;
  letter-spacing: 0.11px;
  line-height: 8.97px;
  font-family: var(--font-roboto);
  color: var(--text-secondary);
  text-align: left;
  width: 19.44px;
  height: 8.97px;
  flex-shrink: 0;
}
.label-container {
  background-color: var(--studio-darkmode-allwhite-ffffff);
  height: 1.5px;
  flex-direction: row;
  padding: 0 2.9901583194732666px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.avatar,
.op {
  align-items: center;
  justify-content: center;
}
.op {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: 8.97px;
  letter-spacing: 0.3px;
  line-height: 166%;
  font-family: var(--font-roboto);
  color: var(--grey-grey-700);
  text-align: center;
  display: flex;
}
.avatar {
  border-radius: 47.84px;
  background-color: var(--grey-grey-400);
  width: 17.94px;
  height: 17.94px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip1 {
  position: relative;
  font-size: 9.72px;
  letter-spacing: 0.12px;
  line-height: 13.46px;
  font-family: var(--font-roboto);
  color: var(--text-primary);
  text-align: left;
}
.typography {
  display: flex;
  flex-direction: column;
  padding: 2.2426187992095947px 4.4852375984191895px;
  align-items: flex-start;
  justify-content: flex-start;
}
.cancel-icon {
  position: relative;
  width: 17.94px;
  height: 17.94px;
  overflow: hidden;
  flex-shrink: 0;
}
.container {
  border-radius: 11.96px;
  background-color: var(--grey-grey-300);
  display: flex;
  flex-direction: row;
  padding: 2.9901583194732666px;
  align-items: center;
  justify-content: flex-start;
}
.chip,
.muiautocompletetag {
  align-items: flex-start;
  justify-content: flex-start;
}
.chip {
  display: flex;
  flex-direction: column;
}
.muiautocompletetag {
  display: none;
  flex-direction: row;
  gap: 5.98px;
}
.date-icon,
.div {
  position: relative;
}
.div {
  flex: 1;
  font-size: 11.96px;
  letter-spacing: 0.11px;
  line-height: 17.94px;
  font-family: var(--font-roboto);
  color: var(--text-primary);
  text-align: left;
}
.date-icon {
  width: 17.94px;
  height: 17.94px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.5;
}
.active,
.input {
  align-self: stretch;
  justify-content: flex-start;
}
.active {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 11.213094711303711px 0;
  align-items: center;
  gap: 5.98px;
}
.input {
  border-radius: 2.99px;
  border: 0.7px solid var(--other-outlined-border);
  box-sizing: border-box;
  height: 41.86px;
  padding: 0 8.970474243164062px;
  align-items: flex-start;
}
.date-field,
.input,
.input-group2 {
  display: flex;
  flex-direction: column;
}
.date-field {
  align-self: stretch;
  height: 41.86px;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-group2 {
  flex: 1;
  padding: 3.7376978397369385px;
  align-items: center;
  justify-content: center;
}
.inputs-row {
  position: absolute;
  top: 14.95px;
  left: 14.95px;
  width: 707.17px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  position: relative;
  font-size: 11.21px;
  letter-spacing: 0.34px;
  line-height: 19.44px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: center;
  display: inline-block;
  width: 109.87px;
}
.search-flights-button {
  border: 0;
  padding: 0;
  position: absolute;
  top: 3.74px;
  left: 3.74px;
  border-radius: 2.99px;
  width: 122.6px;
  height: 41.86px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.search-flights-button,
.search-flights-button:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}
.button-group:hover,
.search-flights-button:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.button-group,
.search-form {
  position: absolute;
  top: 15px;
  left: 745px;
  width: 130px;
  height: 46px;
}
.search-form {
  top: 415px;
  left: 105px;
  border-radius: 7.48px;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 901px;
  height: 85px;
}
.livechat-item,
.search-container {
  position: absolute;
  top: 0.44px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 100%;
  height: 793px;
}
.livechat-item {
  top: 0;
  background-color: var(--color-lavender);
  width: 88px;
  height: 82px;
}
.live-chat1 {
  position: absolute;
  top: 55px;
  left: 12px;
  font-size: 14.96px;
  letter-spacing: 0.11px;
  line-height: 17.94px;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.outline-live-help-white-24dp-1-icon1 {
  position: absolute;
  top: 6px;
  left: 20px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.livechat1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 632.44px;
  left: 888px;
  width: 88px;
  height: 82px;
}
.livechat1:hover {
  animation: 1s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}
.search-section1 {
  align-self: stretch;
  position: relative;
  height: 793px;
}
.hero-section1 {
  align-self: stretch;
  height: 851px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cover-frame,
.homepage {
  background-color: var(--studio-darkmode-allwhite-ffffff);
  overflow: hidden;
}
.homepage {
  position: absolute;
  top: 22px;
  left: 51px;
  border-radius: var(--br-base);
  width: 1076.45px;
  height: 850.71px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  cursor: pointer;
}
.homepage.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.homepage:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
.cover-frame {
  position: relative;
  width: 100%;
  height: 960px;
  text-align: justify;
  font-size: 45.6px;
  color: var(--studio-darkmode-allwhite-ffffff);
  font-family: var(--font-baloo-bhai);
}
@media screen and (max-width: 1440px) {
  .top-header1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .navigation-menu1 {
    display: none;
  }
  .hamburger-menu-icon1 {
    display: flex;
  }
  .top-header1 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .inputs-row {
    width: 100%;
  }
  .search-flights-button {
    margin-right: auto;
  }
  .button-group {
    width: 100%;
    text-align: left;
  }
  .search-form {
    flex-direction: column;
  }
  .search-container {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .navigation-right1 {
    display: flex;
  }
  .find-a-doctor {
    font-size: 42px;
    line-height: 48px;
  }
  .input-group,
  .input-group2 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .inputs-row {
    flex-direction: column;
  }
  .search-flights-button {
    width: 100% !important;
  }
  .homepage {
    width: 100%;
  }
  .homepage:hover {
    background-color: var(--color-orange);
  }
}



